{% extends 'main/baseSale.html' %}
{% load static %}n
{% block title %}
Добавить продажу
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <h1 style="color: darkgray">Добавить продажу</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.SaleData }}<br>
        {{ form.idSeller }}<br data-model-name="Seller">
        {{ form.quantitySale }}<br>
        {{ form.employee }}<br>
        {{ form.client  }}<br>

        <button type="submit" class="btn-secondary">Добавить</button>
        <span style="color: #F9F0DA">{{ error }}</span>
       </form>
{% endblock %}
